.leaflet-container {
  width: 100%;
  height: 75vh;
}

form.user-inputs {
  display: table;
}

div.user-input {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
  margin-left: 10px;
}

label {
  padding-right: 10px;
}
